<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="/css/style.css">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>ARails | Manufacturers</title>
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>

<header>
    <a href="/">
        <img src="/favicon.png">
        <h1>ARails</h1>
    </a>
</header>

<main>
    <div class="row">
        <h2>Found <b th:text="${#lists.size(manufacturers)}">count</b> manufacturers</h2>
        <a href="/"><button class="button is-secondary">Back</button></a>
    </div>

    <table class="table is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>Company name</th>
            <th>Email</th>
            <th>Phone number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manufacturer : ${manufacturers}">
            <td th:text="${manufacturer.companyName}">name</td>
            <td th:text="${manufacturer.email}">email</td>
            <td th:text="${manufacturer.phoneNumber}">phoneNumber</td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>